<div class="row">
  <h2><b>About Me</b></h2>
  <hr>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/Kashmira.JPG" width="100%">
    </div>
  </div>
  <div class="col-sm-8">
    <p class="content">
      I am a second year Health Informatics Masters student at University of Michigan, Ann Arbor. I am working as a Research Assistant under the supervision of <a href="https://medicine.umich.edu/dept/lhs/jodyn-e-platt-mph-phd" target="_blank"> Dr. Jodyn Platt</a>.
      My work focuses on Precision Health, Learning Health Systems, Social Determinants of Health, Interoperability and FHIR applications. 
    </p>
    <p class="content">
    I completed my undergraduate degree Bachelors in Dental Surgery from <a href="https://www.nairhospitaldentalcollege.edu.in/" target="_blank">Nair Hospital Dental College (NHDC) Mumbai</a>.
    I  worked as a Researcher from 2017-2019 at Nair Hospital Dental College, Mumbai India under the supervision of <a href="https://www.researchgate.net/profile/Ajinkya-Pawar-12" target="_blank">Dr. Ajinkya Pawar</a>.
    </p>

    <p class="content">
    I am actively looking for full-time position for Clinical System Analyst, System Analyst, Business System Analyst, Data Analyst, Research Coordinator and Research Associate roles.  I want to use my knowledge and experience of working in healthcare and hospital to improve health outcomes by using my skills to analyse healthcare data. I have an in-depth understanding of business operations and analytic tools for effective analysis of data.

    <p class="content">
    Email: <b>ksawant@umich.edu</b>
    </p>
    <p class="content">
      Find my <b>CV</b> here:
    <a href="/static/docs/KashmiraCV.pdf" target="_blank"><img src="/static/img/cv_logo.png" height="35px"></a>
    </p>
    <span class="content">You can also find me at:  </span>

    <a class="btn btn-social-icon" href="https://scholar.google.com/citations?user=DCqYQbcAAAAJ&hl=en" target="_blank">
      <img src="/static/img/google-scholar-square.svg" height="35px">
      <!-- <span class="fa fa-github"></span> -->
    </a>

    <!-- <a class="btn btn-social-icon btn-github" href="https://github.com/ayshrv" target="_blank"> -->
      <!-- <span class="fa fa-github"></span> -->
    <!-- </a> -->

    <!-- <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/ayshrv" target="_blank">
      <span class="fa fa-twitter"></span>
    </a> -->

    <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://linkedin.com/in/kashmirasawant">
      <span class="fa fa-linkedin"></span>
    </a>

    <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/kashmiraswnt">
      <span class="fa fa-facebook"></span>
    </a>
  </div>
</div>
