<div class="row">

  <h2><b>Certifications </b></h2>
  <hr>

  
  <div class="col-sm-9">
    <h3 class="content_heading">Epic Clarity Data Model</h3>
      <p class="content">Status: In-progress</p>
  </div>
  <div class="col-sm-3">
    <div>
    <img src="/static/img/Epic.jpeg" width="80%">
    </div>
  </div>

  
  <div class="col-sm-9">
    <h3 class="content_heading">Good Clinical Practice</h3>
      <p class="content">
        Organization: CITI Program<br/>
        Issued: Jan 2023<br/>
        Credential ID: 53548106<br/>
      </p>
  </div>
  <div class="col-sm-3" style="height: 40px;">
    <div class="col-sm-8"></div>
  </div>
  <div class="col-sm-3">
    <div>
    <img src="/static/img/CITI .png" width="80%">
   
    </div>
  </div>

  <div class="col-sm-9">
    <h3 class="content_heading">Certified Professional Coder (CPC)</h3>
      <p class="content">
        Organization: AAPC<br/>
        Issued: Jan 2019<br/>
        Credential ID: 01692338<br/>
      </p>
  </div>
  <div class="col-sm-3" style="height: 50px;">
    <div class="col-sm-8"></div>
  </div>
  <div class="col-sm-3">
    <div>
      <img src="/static/img/aapc.png" width="80%">
    </div>
  </div>




</div>
