<div class="row">
    <h2><b>Experience</b></h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Synthetic data Intern, Reseach and Development Department </h3>
        <h4 class="content_heading">Michigan Health Information Network Shared Services (MiHIN)</h4>
          <p class="content">
            Supervisor: <a target="_blank" href="https://www.linkedin.com/in/amber-weeks-aa418678/">Amber Weeks</a><br/><br/>

            - Creation of test patient personas and records for FHIR Pilot Interoperability Testbeds (PITs), DaVinci, Interopathons, and internal requests as needed.<br/>
            - Loading, updating and deleting of JSON resources to FHIR Pilot Interoperability Testbeds (PITs). Interpretation of XML documents to create JSON records for test data. Creation of FHIR PITs resources for testing.<br/>
            - Creation of synthetic HL7 data standards messages to emulate realistic patient records for testing.<br/>
            - Maintenance of a User Guide for onboarding clients of the Interoperability Land application.
          </p>
      </div>
      <div class="col-sm-3" style="height: 120px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center" >
        <img src="/static/img/MiHIN-New-Logo-1.jpeg" width="250px">
        <p>(December 2022 - Present)</p>
        <br>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Enterprise Operations Intern, IT Support Department</h3>
        <h4 class="content_heading">Michigan Health Information Network Shared Services (MiHIN)</h4>
          <p class="content">
            Supervisor: Tyler Cole <br/><br/>
            - Delivered data warehouse and analytic solutions by writing ETL packages, developing visualizations, performing data, and statistical analyses to deliver information to the health system.<br/>
            - Assist with the development of pipelines to synthesize raw data into actionable information.Evaluated data quality using SQL and interpreted results and visualized data using Tableau dashboard.<br/>
            - Provided analytical assistance to team members to resolve application incidents and maintenance items requests.<br/>
          </p>
      </div>
      <div class="col-sm-3" style="height: 100px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="/static/img/MiHIN-New-Logo-1.jpeg" width="250px">
        <p>(Sept 2022 - December 2022)</p>
        <br>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Graduate Research Assistant (Data Analytics)</h3>
        <h4 class="content_heading">Michigan Medicine</h4>
          <p class="content">
            Supervisor: <a target="_blank" href="https://medicine.umich.edu/dept/lhs/jodyn-e-platt-mph-phd">Dr. Jodyn Platt</a><br/><br/>
            - Developed sociotechnical maturity model frameworks for Precision Oncology for quality improvement of healthcare delivery by aggregating patient data, transforming it into knowledge, and implementation of knowledge in practice. <br/>
            - Performed statistical analysis on large dataset using Python and developed codebook for analysis of qualitative data and identification of themes from interviews.<br/>
            - Analysed 34 qualitative interviews transcripts conducted with implementation specialist, medical oncologist, pathologist, and tumor board director at Michigan Medicine, Northwestern Hospital, and UCSF School of Medicine.<br/>
          </p>
      </div>
      <div class="col-sm-3" style="height: 80px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center" >
        <img src="/static/img/mm-logo.png" width="250px">
        <p>(January 2022 - December 2022)</p>
        <br>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Graduate Research Intern, Machine Learning</h3>
        <h4 class="content_heading">University of Michigan</h4>
          <p class="content">
            Supervisor: Dr. V.G.Vinod Vydiswaran<br/><br/>

            - Conducted exploratory data analysis on tweets of African American influencers and consolidated a list of keywords and hashtags that can be used to further extract tweets.<br/>
            - Text identification was done for African American Vernacular English on tweets dataset related to COVID-19. Logistic Regression Model and Support Vector Model were used for binary classification of tweets.<br/>
            - This project was done in collaboration with Henry Ford Health System to address the critical need to develop culturally relevant, justice-centered, and actionable approaches to health crises impacting the US African American community and other vulnerable groups. <br/>
          </p>
      </div>
      <div class="col-sm-3" style="height: 80px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/experience/umich.jpeg" width="150px">
        <p>(May 2022 - August 2022)</p>
        <br>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-sm-9" >
        <h3 class="content_heading">Medical Data Analyst and Medical Scribe </h3>
        <h4 class="content_heading">Inventurus Knowledge Solutions</h4>
          <p class="content">
            - Assisted in development of data formatting and cleaning criteria from Electronic Health Records like Epic and Cerner.<br/>
            - Scribed medical notes for 50 physicians from General Medicine, Geriatric and Gynecology Departments and followed specifications of the physicians for note capture by creating EHR templates.<br/>
            - Formulated procedures for data extraction, transformation and integration of healthcare data for more than 8 projects.<br/>
            - Worked with 15 providers at Advocate Health Care, Chicago and Lehigh Valley Physician group, Pennsylvania. Experience working with medical charts and knowledge of HIPPA compliance.<br/>
          </p>
      </div>
      <div class="col-sm-3" style="height: 60px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="/static/img/IKSHealth_logo.png" width="250px">
        <p>(Sept 2019 - June 2021)</p>
        <br>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Clinical Documentation Specialist</h3>
        <h4 class="content_heading">Acquity Solutions</h4>
          <p class="content">
            - Provided remote clinical documentation integrity (CDI) support to Oncology physicians group by using Cerner EHR. <br/>
            - Utilized advanced coding and clinical expertise to direct efforts toward the improvement and integrity of clinical documentation.<br/>
            - Reviewed and audited medical record clinical documentation to support the medical necessity, severity of illness, risk of mortality, accurate coding, clinical evidence, and level of services rendered to all patients.<br/>
            - Audited clinical documentation for query compliance, workflow and missed documentation opportunities<br/>
            - Trains end users in the use of CDI system software, standards, and workflow.<br/>
        
            <!-- <a href="https://github.com/ayshrv/mobilenet_psp" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Code</button></a> -->
            </p>
      </div>
      <!-- <div class="col-sm-3" style="height: 10px;">
        <div class="col-sm-8"></div>
      </div> -->
      <div class="col-sm-3" align="center">
        <img src="/static/img/Aquity.jpeg" width="250px">
        <p>(June 2021 - Aug 2021)</p>
      </div>
    </div>

</div>
