  <div class="row">
    <h2><b>Projects</b></h2>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h3 class="content_heading">Artificial Intelligence-enhanced Clinical Decision Support (AI-CDS) for precision health</h3>
        <br>
        <p>
           - Conducted literature review on the use of digital health for the management of palliative care in geriatric patients.<br/>
           - Analysed qualitative data concerning the relationship between digital health service and improvement of healthcare delivery.<br/>
           - Facilitated and coordinated with teammates on the project deadlines and deliverables. Worked on manuscript writing for the project.<br/>
        </p>
      </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-12">
          <h3 class="content_heading">African American and Latinx perspectives on COVID-19 in regions of Michigan (MI-CEALS)</h3>
          <br>
          <p>
            - Conducted qualtative analysis to determine the effects of Social Determinants of Health (SDOH) in effects of COVID-19 among the members of African American and Latinx community.<br/>
            - Analysed interview data by development of Codebook and highlighting themes most significant in the interviews.<br/>
            - Formulated procedures for data extraction, transformation and integration of healthcare data from qualitative interviews.<br/>
            </p>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-9">
          <h3 class="content_heading">Prototyping and Evaluation of MHealthy Application for management of Mental Health issues at University of Michigan. Health</h3>
          <br>
          <p>
              - Developed prototype for User Experience Interface for m-Healthy Application for management of mental Health issues of students at University of Michigan.<br/>
              - Developed a customized intervention strategy essential to identify the consumer's potential mental health difficulties. <br/>
              - Applied the Behavioral Change Theories (BCT) of Goal Setting, Social Support, and Scheduled Consequences for  MHealthy. <br/>
              <br>
              <br>
              <a href="/static/files/annotated-SI%20684%20final%20document.pdf" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Report</button></a>
              <a href="/static/files/SI -684 Presentation.pptx " class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Slides</button></a>
          </p>
        </div>
        <div class="col-sm-3" style="height: 2px;">
          <div class="col-sm-8"></div>
        </div>
        <div class="col-sm-3" align="center">
          <img src="/static/img/mhealthy.png" width="150px">
        </div>
      </div>
        <br>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Sentimental analysis of Tweets pertaining to COVID-19 in United States</h3>
        <br>
        <p>
            - Extracted raw data from Twitter using Twitter API and cleaned it into quantitative data using Python and Pandas package. Word2Vec model was used for word processing from the tweets.<br/>
            - Performed Exploratory Analysis on the data collected from the tweets and the created state wise distribution map of sentiments from tweets related to COVID-19 using Pandas, Matplotlib, and Geopandas.<br/>
            - Neural network models like LSTM and Transformers were used for text classification to classify the sentiments of the user from the tweets.<br/>
            <br/>
            <a href="/static/files/Final Report.pdf" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Report</button></a>
            <a href="/static/files/COVID-19 Vaccine Sentiment Analysis.pptx " class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Slides</button></a>
        </p>
      </div>
      <div class="col-sm-3" style="height: 60px;">
        <div class="col-sm-8"></div>
      </div>
      <div class="col-sm-3" align="center">
        <img src="/static/img/Screen Shot 2023-01-09 at 2.50.33 AM.png" width="300px">
      </div>
    </div>
      <br>

    




    <hr>
  </div>
