  <div class="row">
    <div></div>
    <h2><b>Publications</b></h2>
    <hr>

    <div class="row" id="visitron" style="height: 10px;">
      <div class="col-sm-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/applsci-11-04984-g001.png" width="50%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Dentinal Microcracks after Root Canal Instrumentation Using Instruments Manufactured with Different NiTi
            Alloys and the SAF System: A Systematic Review
          </h3>
          <p class="content">
            <p class="pubd">
                <span class="authors"><b>Kashmira Sawant</b>, Ajinkya Pawar, K. S. Banga, Ricardo Machado, Mohmed Isaqali Karobari, Anand Marya, Pietro Messina, Giuseppe Alessandro Scardina</span>
                <br><span class="conf">Applied Sciences Journal 2021</span>
                <br>
                <br>
                <a href="https://www.mdpi.com/2076-3417/11/11/4984" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="vln-sim2real-corl2020" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/Screen Shot 2023-01-09 at 1.38.28 PM.png" width="80%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Parental Perception of the Importance of the Permanent First Molar in Their Children</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors">Abdulkadeer Jetpurwala, <b>Kashmira Sawant</b>; Priti Jain, Shely Dedhia</span>
                <br><span class="conf"> Journal of Dentistry for Children 2020</span> 
                <br><span class="conf"> American Academy of Pediatric Dentistry</span> 
                <br>
                <br>
                <a href="https://www.ingentaconnect.com/content/aapd/jodc/2020/00000087/00000001/art00005" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="vlnbert-eccv2020" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>

    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/publications/Paper 3.png" width="70%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Cyclic Fatigue, Torsional Resistance, and Angular Deflection of Two Heat-Treated Files: M-Wire Versus New F-Wire Technology</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors">Ajinkya M. Pawar, Unmesh Khanvilkar, Shivani Mallishery, <b>Kashmira Sawant</b>, Ricardo Machado, Gianluca Plotino, Alexander Maniangat Luke, Simy Mathew, Musab Hamed Saeed, Krishna Prasad Shetty</span>
                <br><span class="conf">Metals 2020 </span>
                <br>
                <br>
                <a href="https://www.mdpi.com/2075-4701/10/10/1359" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <div class="row" id="chasing-ghosts-neurips2019" style="height: 40px;">
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <div class="col-sm-4" align="center">
        <img class="thumb" src="/static/img/Bioactive glass.jpeg" width="70%">
      </div>
      <div class="col-sm-8">
          <h3 class="content_heading">Bioactive glass in dentistry: A systematic review</h3>
          <p class="content">
            <p class="pubd">
                <span class="authors"><b>Kashmira Sawant</b>, Ajinkya M. Pawar</span>
                <br>
                (* denotes equal contribution)
                <br><span class="conf">Saudi Journal of Oral Sciences</span>
                <br>
                <br>
                <a href="https://www.saudijos.org/article.asp?issn=1658-6816;year=2020;volume=7;issue=1;spage=3;epage=10;aulast=Sawant" class="white-text" target="_blank"><button type="button" class="btn btn-primary ribbon">Paper</button></a>
                <br>
            </p>
          </p>
      </div>
    </div>

    <br/>
    

 </div>

