<div class="row">
  <h2><b>Technical Skills</b></h2>
  <hr>
  <div>
    <p class="content_heading"><b>Programming:</b></p>
    <p class="content">- Python, SQL, R, Machine Learning, Natural Language Processing</p>
  </div>
  <div>
    <p class="content_heading"><b>Web Technologies</b></p>
    <p class="content">- RESTful Web Services, HTML, CSS, Javascript, Bootstrap,</p>
  </div>
  <div>
    <p class="content_heading"><b>Analytical Tools:</b></p>
    <p class="content">- Tableau, SAS, Microsoft Excel, Power BI</p>
  </div>
  <div>
    <p class="content_heading"><b>Databases</b></p>
    <p class="content">- MySQL, PostgreSQL, MongoDB, Oracle, SQLite</p>
  </div>
  <div>
    <p class="content_heading"><b>Electronic Medical Records (EMR):</b></p>
    <p class="content">- Epic (MyChart), Cerner, OncoEMR</p>
  </div>
  
  <div>
    <p class="content_heading"><b>Medical Terminology:</b></p>
    <p class="content">- ICD -9, ICD-10, HCPCS CPT, LOINC, SNOMED, RxNorm</p>
  </div>
  <div>
  <div>
    <p class="content_heading"><b>Other Applications:</b></p>
    <p class="content">- Jira, Confluence, FHIR</p>
  </div>
  <div>

    <!-- <p class="content_heading"><b>Other Technologies</b></p>
    <p class="content">- PyTorch, Torch, Celery, RabbitMQ, OpenCV</p> -->
  <!-- </div> -->
  <!-- <div>
    <p class="content_heading"><b>Version Control</b></p>
    <p class="content">- Git</p>
  </div> -->
</div>
